body {
	min-width: 800px;
	font-family: Century Gothic;
	font-size : 62%;
	margin:1%;
	background:url("../images/fondo.jpg") no-repeat fixed center;
	background-size: 100% 100%; 
}

header {
	text-align:center;
	clear:both;
	margin-bottom:5%;
}

.boton{
	background-color: #2dc234;
	background-image: -webkit-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
	background-image: -moz-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
	background-image: -o-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
	background-image: linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
	-ms-border-radius:8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
	box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
	color: #fff;
	display: inline-block;
	font-family: ‘Pacifico’, Arial, sans-serif;
	font-size: 30px;
	line-height: 1;
	padding: 15px 25px;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(25, 123, 29, .7);
}


#left {
	float: left;
	width:15%;
	
}
#center{
	float: left;
	width:70%;
	text-align:center;
	
}
#right {
	float: right;
	width:15%;
	
}

#footer {
	clear:both;
}

.tooltip-left {
	float:left;
	margin-bottom:5%;
	clear:both;
}
.tooltip-right {
	float:right;
	margin-bottom:5%;
	clear:both;
}

#facebook, #candycrush, #spotify, #telegram, #clashofclans, #twitter, #linterna, #skype, #amazon, #dropbox, #google, #snapchat, #vine, #whatsapp, #shazam, #instagram{
	width: 60%;
}
#titlefont{
	width: 980px;
}

.right {
	float: right;
}
.text-center {
	text-align:center;
} 
